%h2
  = t('devise.password.change')
= bootstrap_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f|
  = devise_error_messages!
  = f.hidden_field :reset_password_token
  - if @minimum_password_length
    %em
      = t('help.characters_minimum', min: @minimum_password_length)
    %br/
  = f.password_field :password, autofocus: true, autocomplete: "off", label: t('devise.password.new')
  = f.password_field :password_confirmation, autocomplete: "off", label: t('devise.password.confirm_new')
  .actions
    = f.submit t('devise.password.change')
= render "devise/shared/links"
