%header.masthead{style: "background-image: url('#{@header.img_url}')"}
  .header-content
    .header-content-inner
      %h1#homeHeading{style: "#{@header.title_style}"}
        = @header.title
      %hr/
      %p{style: "#{@header.desc_style}"}
        = @header.desc
      %a.btn.btn-primary.btn-xl.js-scroll-trigger{:href => "#about", style: "#{@header.btn_style}"}
        = @header.button

= render 'about'
= render 'services'
= render 'portfolio'
= render 'call_to_action'
= render 'contact'